@charset "UTF-8";
*{
   
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right,#161F30, #217373);
}
main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 10px 10px 15px #0d1e2463;

}
h1{
    color :#84B026;
    text-align: center;
    text-shadow: 3px 3px 3px #4a631648;
}
h2{
    color: #3D3D3D;


}
p{
    text-align: justify;
}
